<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amayzon</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Gabarito:wght@700&family=Inclusive+Sans&family=Onest&family=Oswald:wght@700&family=Young+Serif&display=swap"
        rel="stylesheet">

</head>

<body>
    <div class="alert-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for message in messages %}
        {% if message[0] == 'message' %}
        {% set message_type = 'danger' %}
        {% else %}
        {% set message_type = message[0] %}
        {% endif %}
        <div class="alert-div">
            <div class="alert alert-{{ message_type }}" role="alert"
                style="position: relative;width: 500px;align-self: center;">
                {{ message[1] }}
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <header>
        <nav class="navbar">
            <div class="nav-logo">
                <a href="/home"><img src="https://cdn-icons-png.flaticon.com/128/5998/5998077.png" alt="logo"
                        style="height: 40px;width: auto;filter: invert(1);"></a>
            </div>
            <div class="address">
                <a href="#" class="deliver">Deliver</a>
                <div class="map-icon">
                    <span class="material-symbols-outlined">location_on</span>
                    <a href="#" class="location">France</a>
                </div>
            </div>

            <div class="nav-search">
                <select class="select-search">
                    <option>All</option>
                    <option>All Categories</option>
                    <option>Amayzon Devices</option>
                </select>
                <input type="text" placeholder="Search Amayzon" class="search-input">
                <div class="search-icon">
                    <span class="material-symbols-outlined">search</span>
                </div>
            </div>

            <div class="sign-in">
                <a href="#">
                    <p>Signed in as:</p>
                    <span>{{user.username}}</span>
                </a>
            </div>

            <div class="returns">
                <a href="#">
                    <p>Returns</p>
                    <span>&amp; Orders</span>
                </a>
            </div>

            <div class="cart">
                <a href="/cart">
                    <span class="material-symbols-outlined cart-icon">shopping_cart</span>
                </a>
                {{cart_count}}<br>
                Cart
            </div>

            <div class="profile_pic">
                <a href="#">
                </a>
                <div class="profilePic"><img src="../static/images/{{user.profile_picture}}" height="40px" width="40px">
                </div>
            </div>
            <div class="logout">
                <a href="/logout"><img src="https://cdn-icons-png.flaticon.com/128/660/660350.png"
                        style="height: 25px; width: auto;filter: invert(1);margin-right: auto;" alt="logout"></a>
            </div>
        </nav>

        <div class="banner">
            <div class="banner-content">
                <div class="panel">
                    <span class="material-symbols-outlined">menu</span>
                    <a href="/products/all">All</a>
                </div>

                <ul class="links">
                    <li><a href="/products/smartphones">Smartphones</a></li>
                    <li><a href="/products/fashion">Fashion</a></li>
                    <li><a href="/products/furniture">Furniture</a></li>
                    <li><a href="/products/pet">Pets</a></li>
                </ul>
                <div class="deals">
                    <a href="#">Shop deals in Electronics</a>
                </div>
            </div>
        </div>
    </header>
{% if isValid %}
    <section class="hero-section small"
        style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
        {% if category == 'all' %}
        <h1 class="categoryHeading"><strong>All Our Products</strong></h1>
        {% else %}
        <h1 class="categoryHeading"><strong>Products Lisiting for {{ category.capitalize() }}</strong></h1>
        {% endif %}
    </section>

    <section class="product-section" style="display: flex;justify-content: center;">
        <div class="product-listing" style="display: grid;grid-template-columns: repeat(3,1fr);margin: 30px;">
            {% for product in product_list %}
            <div class="cardContainer">
                <a href="/product/{{product.product_id}}">
                    <div class="card shadow"
                        style="position: relative;display: flex;flex-direction: column;align-items: center;justify-content: center;margin: 30px;">
                        <div class="product-addcart" style="position: absolute;top: 10px;right: 10px;">
                            <form action="/addtocart" method="post">
                                <input type="hidden" name="product_id" value="{{product.product_id}}">
                                <button type="submit" class="cartButton" style="border: none;outline: none;"><span
                                        style="cursor: pointer;"><img
                                            src="https://cdn-icons-png.flaticon.com/128/1170/1170678.png"
                                            style="height: 20px;width: auto;"></span></button>
                            </form>
                        </div>
                        <div class="product-title"
                            style="position: absolute;bottom: 10px;left: 10px;font-family: Gabarito;font-size: 20px;border-bottom: 2px solid black;pointer-events: none;">
                            {{product.title}}
                        </div>
                        <div class="product-image" style="pointer-events: none;margin-bottom: 15px;">
                            <img src="{{product.image}}" alt="{{product.title}} -img"
                                style="height: auto;width: 175px;">
                        </div>
                        <div class="product-price"
                            style="position: absolute;bottom: 10px;right: 10px;font-family: Onest;font-size: 15px;border-bottom: 2px solid black;pointer-events: none;">
                            €{{product.price}}
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>
{% else %}
<section class="hero-section"
        style="display: flex;flex-direction: column;justify-content: center;align-items: center;background-image: url('https://static.vecteezy.com/system/resources/previews/003/031/766/original/light-blue-wide-background-with-radial-blurred-gradient-abstract-free-vector.jpg');">
        <h1 class="categoryHeading"><strong>Sorry we have no products in {{category.capitalize()}}</strong></h1>
    </section>

{% endif %}
    <footer>
        <a href="#" class="footer-title">
            Back to top
        </a>
        <div class="footer-items">
            <ul>
                <h3>Get to Know Us</h3>
                <li><a href="#">About us</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Press Release</a></li>
                <li><a href="#">Amazon Science</a></li>
            </ul>
            <ul>
                <h3>Connect with Us</h3>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Instagram</a></li>
            </ul>
            <ul>
                <h3>Make Money with Us</h3>
                <li><a href="#">Sell on Amazon</a></li>
                <li><a href="#">Sell under Amazon Accelerator</a></li>
                <li><a href="#">Protect and Build Your Brand</a></li>
                <li><a href="#">Amazon Global Selling</a></li>
                <li><a href="#">Become an Affiliate</a></li>
                <li><a href="#">Fulfillment by Amazon</a></li>
                <li><a href="#">Advertise Your Products</a></li>
                <li><a href="#">Amazon Pay on Merchants</a></li>
            </ul>
            <ul>
                <h3>Let Us Help You</h3>
                <li><a href="#">COVID-19 and Amazon</a></li>
                <li><a href="#">Your Account</a></li>
                <li><a href="#">Return Centre</a></li>
                <li><a href="#">100% Purchase Protection</a></li>
                <li><a href="#">Amazon App Download</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </div>
    </footer>

</body>
<script>
    const alertDiv = document.querySelector('.alert-div')
    const alertContainer = document.querySelector('.alert-container')

    function hideAlert() {
        alertContainer.classList.remove('open')
    }

    if (alertDiv) {
        alertContainer.classList.add('open');
        setTimeout(hideAlert, 2000);
    }

    const cartButtons = document.querySelectorAll('.cartButton');

    cartButtons.forEach((cartButton) => {
        const cartImage = cartButton.querySelector('img');

        cartButton.addEventListener('mouseover', () => {
            cartImage.src = 'https://cdn-icons-png.flaticon.com/128/3524/3524388.png';
        });

        cartButton.addEventListener('mouseout', () => {
            cartImage.src = 'https://cdn-icons-png.flaticon.com/128/1170/1170678.png';
        });
    });
</script>

</html>